body{
    background: #256f5b;
    font-family:"Arial Narrow";
    color: white;
}

h1{
    font-size: xx-large;
    font-style: italic;
}

p{
    font-weight: bolder;
    background: #468B78;
}

/* Agregamos una nueva clase
    aplicable a cualquier elemento html */
.resaltado{
    background: #9e354a;
    font-weight: bold;
}

.nuevaClaseCss{
    font-family: "Century Gothic";
    font-weight: bold;
    background: #4F0010;
}